<menubar>
    <menu>
        <menuName>&File</menuName>
        <help>File menu</help>
        <menuItem>
            <itemName>&Open</itemName>
            <handler>OnOpen</handler>
            <help>Open menu item</help>
        </menuItem>
        <menuItem>
            <itemName>&Save</itemName>
            <handler>OnSave</handler>
            <help>Save menu item</help>
        </menuItem>
        <menuItem>
            <itemName>&Close</itemName>
            <handler>OnClose</handler>
            <help>Close menu item</help>
        </menuItem>
        <separator/>
        <menuItem>
            <itemName>E&xit</itemName>
            <handler>OnExit</handler>
            <help>Exit menu item</help>
        </menuItem>
    </menu>
    <menu>
        <menuName>&Edit</menuName>
        <help>Edit menu</help>
        <menuItem>
            <itemName>&Find</itemName>
            <handler>OnFind</handler>
            <help>File menu item</help>
        </menuItem>
        <menuItem>
            <itemName>&Replace</itemName>
            <handler>OnReplace</handler>
            <help>Replace menu item</help>
        </menuItem>
    </menu>
    <menu>
        <menuName>&Others</menuName>
        <help>Others menu</help>
        <menuItem>
            <itemName>&Others item 1</itemName>
            <handler>OnOthers1</handler>
            <help>Others menu item 1</help>
        </menuItem>
        <menu>
            <menuName>&SubMenu</menuName>
            <help>Submenu</help>
            <menuItem>
                <itemName>Submenu item&1</itemName>
                <handler>OnSubmenu1</handler>
                <help>Submenu item 1</help>
            </menuItem>
            <menuItem>
                <itemName>Submenu item&2</itemName>
                <handler>OnSubmenu2</handler>
                <help>Submenu item 2</help>
            </menuItem>
            <menuItem>
                <itemName>Submenu item&3</itemName>
                <handler>OnSubmenu3</handler>
                <help>Submenu item 3</help>
            </menuItem>
        </menu>
    </menu>
    <menu>
        <menuName>&Check/Radio</menuName>
        <help>Check and radio menu</help>
        <menuItem>
            <itemName>Check item 1</itemName>
            <handler>OnCheck1</handler>
            <help>Check item 1</help>
            <kind>check</kind>
        </menuItem>
        <menuItem>
            <itemName>Check item 2</itemName>
            <handler>OnCheck2</handler>
            <help>Check item 2</help>
            <kind>check</kind>
        </menuItem>
        <menuItem>
            <itemName>Check item 3</itemName>
            <handler>OnCheck3</handler>
            <help>Check item 3</help>
            <kind>check</kind>
        </menuItem>
`       <separator/>
        <menuItem>
            <itemName>Radio item 1</itemName>
            <handler>OnRadio1</handler>
            <help>Radio item 1</help>
            <kind>radio</kind>
        </menuItem>
        <menuItem>
            <itemName>Radio item 2</itemName>
            <handler>OnRadio2</handler>
            <help>Radio item 2</help>
            <kind>radio</kind>
        </menuItem>
        <menuItem>
            <itemName>Radio item 3</itemName>
            <handler>OnRadio3</handler>
            <help>Radio item 3</help>
            <kind>radio</kind>
        </menuItem>
    </menu>
</menubar>